<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopnow">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Product_Order_details"></activity>
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".LifeStyles" />
        <activity android:name=".Books" />
        <activity android:name=".Mobiles" />
        <activity android:name=".Electronics" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".EmptyActivty" />
        <activity android:name=".CartListActivity" />
        <activity android:name=".Laptops"/>
        <activity
            android:name=".Shopfront"
            android:label="@string/title_activity_shopfront"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>